body {
    margin: 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background: linear-gradient(#4f5d75, #2d3142)
}

.header {
    padding: 20px;
    text-align: center;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}